header {
    position: sticky;
    height: 13vh;
    top: 0;
    left: 0;
    z-index: $z-header;
    background-color: hsl(218, 44%, 45%);
}

.header-logo {
    height: 10vh;
    display: flex;
    align-items: center;
    min-width: 200px;

    svg {
        path {
            fill: $text-color;
        }
    }
}

.header-title {
    display: flex;
    align-items: center;
    margin-left: 1%;
    min-width: 300px;

    h1 {
        font-size: 3rem;
        color: $text-color;
        font-weight: 700;
    }
}

.header-menu {
    height: 10vh;
    display: flex;
    justify-content: end;
    margin-bottom: 1rem;

    > ul {
        width: 100%;
        align-items: flex-end;
        display: flex;
        justify-content: end;
        flex-direction: row;
        color: $text-color;

        > li {
            margin: 0 2% 0 2%;
            font-size: 1.2rem;
        }
    }
}
