body {
    background-color: hsl(218, 44%, 45%);
}

nav a {
    color: $text-color;
}

p {
    font-size: 1.2rem;
}

.text-overflow {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 3; /* mostrar 3 lineas por defecto */
}
