// icons
.alert-icon {
    display: inline-block;
    width: 1rem;
    background: url(/assets/svg/alert.svg) 0 0 / contain no-repeat;
    color: blue;
    &::before {
        content: '';
        display: block;
        padding-top: 100%;
    }
}

.checked-icon {
    display: inline-block;
    width: 1rem;
    background: url(/assets/svg/checked.svg) 0 0 / contain no-repeat;
    &::before {
        content: '';
        display: block;
        padding-top: 100%;
    }
}
.close-icon {
    display: inline-block;
    width: 1rem;
    background: url(/assets/svg/close.svg) 0 0 / contain no-repeat;
    &::before {
        content: '';
        display: block;
        padding-top: 100%;
    }
}
