.col-1 {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.col-2 {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.col-3 {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.col-4 {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.col-5 {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.col-aside-main {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.col-1 > .col {
    width: 100%;
}
.col-2 > .col {
    width: 50%;
}

.col-3 > .col {
    width: 30%;
}

.col-4 > .col {
    width: 22%;
}

.col-5 > .col {
    width: 18%;
}

.col-aside-main > .col-aside {
    width: 20%;
}

.col-aside-main > .col-main {
    width: 80%;
}

/* utilidades */
.flex {
    display: flex;
}

.bgc-1 {
    background-color: antiquewhite;
}

.bgc-2 {
    background-color: rgb(245, 182, 130);
}

.bgc-3 {
    background-color: aqua;
}

.text-overflow {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 3; /* mostrar 3 lineas por defecto */
}

/* Structure */
body {
    background-color: hsl(218, 44%, 45%);
}

nav a {
    color: white;
}

p {
    font-size: 1.2rem;
}
header {
    position: sticky;
    height: 13vh;
    top: 0;
    left: 0;
    z-index: 2000;
    background-color: hsl(218, 44%, 45%);
}

.header-logo {
    height: 10vh;
    display: flex;
    align-items: center;
    min-width: 200px;
}

.header-logo svg path {
    fill: white;
}

.header-title {
    display: flex;
    align-items: center;
    margin-left: 1%;
    min-width: 300px;
}

.header-title h1 {
    font-size: 3rem;
    color: white;
    font-weight: 700;
}

.header-menu {
    height: 10vh;
    display: flex;
    justify-content: end;
    margin-bottom: 1rem;
}

.header-menu > ul {
    width: 100%;
    align-items: flex-end;
    display: flex;
    justify-content: end;
    flex-direction: row;
    color: white;
}
.header-menu > ul > li {
    margin: 0 2% 0 2%;
    font-size: 1.2rem;
}

/* main {
} */

footer {
    display: flex;
    justify-content: space-around;
    background-color: black;
    position: absolute;
    height: 10vh;
    width: 100%;
    align-items: center;
    margin-top: 15vh;
}
footer * {
    color: white;
}
/* Components */

/* index.html */
/* .inicio {
} */
.banner {
    height: 100vh;
}
.banner-imagen {
    position: absolute;
    height: 90vh;
    width: 100%;
}
.banner-titulo {
    position: relative;
    top: 30vh;
    left: 10vw;
    min-width: 1680px;
}

.banner-titulo > h2 {
    font-size: 3rem;
    font-weight: 700;
    color: #20205e;
    text-shadow: 9px 6px 6px #3a4966;
}
.banner-accion {
    position: relative;
    top: 40vh;
    left: 10vw;
}
.banner-accion > button {
    height: 5vh;
    border-radius: 5rem;
    box-shadow: 1.2rem;
    font-size: 1.2rem;
    font-weight: 400;
    padding: 0 5%;
    background-color: antiquewhite;
}

.destacados {
    height: 100vh;
}
.destacados-titulo {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 1.5rem;
}
.destacado {
    margin: 0 5%;
}
.destacado-card {
    border: 5px solid white;
    border-radius: 15px;
    min-height: 100%;
}
.destacado-card-imagen {
    width: 100%;
    position: relative;
    z-index: -1000;
}

.destacado-card-texto {
    margin: 5%;
    -webkit-line-clamp: 10;
    /* display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden; */
}

.banner-Text {
    margin: 0% 10%;
}
.banner-Text-texto p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}
.banner-Text-imagen {
    clip-path: ellipse();
    position: relative;
    z-index: -1000;
}

/* products.html */

.productos {
    margin: 0 auto;
    width: 95%;
}

.productos-categorias {
    position: fixed;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    margin-right: 5%;
}
.productos-titulo {
    margin-bottom: 1rem;
}
.productos-titulo h2 {
    font-weight: 700;
    color: white;
}
.productos-menu ul {
    font-weight: 400;
    font-size: 1.5rem;
}
.productos-detalle {
    border-left: 2px solid rgba(255, 255, 255, 0.658);
    color: white;
    padding-left: 5%;
}
.poductos-resumen {
    height: 10vh;
    margin-bottom: 1rem;
    position: sticky;
    top: 13vh;
    z-index: 1000;
    background-color: #4065a5;
}
.poductos-resumen-seleccion {
    display: flex;
    height: 5vh;
    align-items: center;
}

.poductos-resumen-seleccion h3 {
    font-size: 1.5rem;
}

.poductos-resumen-filtro {
    height: 5vh;
    display: flex;
    justify-content: flex-end;
    padding-left: 30%;
}

.poductos-resumen-filtro select {
    width: 100%;
    font-size: 1.2rem;
}
.productos-galeria {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.producto-card {
    border: 5px solid white;
    width: 320px;
    height: 60vh;
    margin: 1% 2%;
    border-radius: 5%;
    box-shadow: 10px 5px 5px black;
    position: relative;
    display: flex;
    flex-direction: column;
}

.producto-card-imagen {
    z-index: -1000;
    width: 320px;
    min-height: 350px;
    max-height: 350px;
}
.producto-card-precio {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -10px;
    right: -5px;
    color: black;
    font-size: 1.2rem;
    font-weight: 600;
    width: 6rem;
    height: 5vh;
    border-radius: 5px;
    background-color: red;
    box-shadow: 5px 5px 1px rgb(90, 17, 17);
    z-index: 1200;
    transform: rotate(10deg);
    transition: all 1s;
}
.producto-card-precio:hover {
    transform: rotate(-10deg);
    font-size: 2rem;
    width: 10rem;
    height: 6vh;
}

.producto-card-descripcion {
    text-align: center;
    font-size: 1.2rem;
    overflow: hidden;
    margin-bottom: 1rem;
    -webkit-line-clamp: 5;
    text-align: justify;
    padding: 0 5%;
    word-wrap: break-word;
}

.producto-card-accion {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6vh;
    min-height: 6vh;
}

.producto-card-accion button {
    width: 100%;
    height: 100%;
    font-weight: bold;
    border: 0;
    background-image: linear-gradient(
        to right,
        hsl(225.83, 63.16%, 44.71%),
        rgba(25, 0, 255, 0.486)
    );
    z-index: -1000;
}
.producto-card-accion button p {
    font-size: 1.2rem;
    color: white;
}

/* product.html */

.producto {
    margin: 0 auto;
    width: 95%;
}

.producto-detalle {
    margin-right: 15%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.galeria-foto {
    display: flex;
    justify-content: center;
}
.galeria-miniaturas {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 2vh 20%;
}

.producto-detalle-descripcion-titulo {
    margin-bottom: 1rem;
}
.producto-detalle-descripcion-titulo > h2 {
    font-size: 3rem;
    font-weight: 700;
    color: white;
}
.producto-detalle-descripcion-precio {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
}
.producto-detalle-descripcion-texto {
    margin-bottom: 3rem;
    -webkit-line-clamp: 6;
    padding: 0 5%;
}
.producto-detalle-descripcion-texto:hover {
    display: block;
    max-height: 60vh;
}

.producto-detalle-descripcion-texto > p {
    margin-bottom: 1.2rem;
    color: wheat;
    line-height: 1.5rem;
    text-align: justify;
}

.producto-detalle-descripcion-texto > p:first-child::first-letter {
    text-transform: capitalize;
    font-size: 2.5rem;
    font-family: Oswald;
    color: black;
    font-weight: bold;
}

.producto-detalle-descripcion-texto > p::first-letter {
    padding-left: 1rem;
}

.producto-label {
    color: white;
    height: 1.5rem;
    display: flex;
    align-items: center;
    padding-right: 1rem;
    justify-content: right;
}
.producto-dias {
    width: 25%;
}
.selector-numerico {
    display: flex;
    height: 1.5rem;
    justify-content: center;
    background-color: white;
    border-radius: 5px;
    border: 1px solid white;
}
.selector-numerico button {
    border: 0;
    align-items: center;
    background-image: linear-gradient(
        to right,
        hsl(225.83, 63.16%, 44.71%),
        rgba(25, 0, 255, 0.486)
    );
    border-radius: 5px;
    width: 2rem;
}
.selector-numerico button svg {
    width: 100%;
    height: 100%;
    fill: white;
}
.boton-menos {
    display: Flex;
    justify-content: flex-start;
}
.cantidad {
    display: Flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: bold;
}
.cantidad > input {
    width: 100%;
    text-align: center;
    border: 0;
    font-weight: bold;
}
.boton-mas {
    display: Flex;
    justify-content: flex-end;
}
.producto-detalle-descripcion-accion {
    border: 0;
    align-items: center;
    background-image: linear-gradient(
        to right,
        hsl(225.83, 63.16%, 44.71%),
        rgba(25, 0, 255, 0.486)
    );
    border-radius: 5px;
}

/* contacto.html */
.contacto {
    margin: 0 auto;
    width: 80%;
}
.contacto-titulo {
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
}

.contacto-titulo h2 {
    color: white;
    font-size: 2.5rem;
}

.contacto-opciones-detalle {
    display: flex;
}
.contacto-opciones-detalle li {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}
.contacto-opciones-detalle li p {
    color: white;
    font-size: 2rem;
}
.contacto-opciones-detalle svg {
    width: 2rem;
    margin-right: 1rem;
}
.contacto-opciones-detalle svg path {
    fill: rgb(66, 34, 211);
}

.campo {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    margin-left: 1rem;
}

.campo label {
    color: white;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
}
.campo input {
    font-size: 1.2rem;
}
.contacto-formulario-accion {
    display: flex;
    justify-content: flex-end;
}
.contacto-formulario-accion button {
    border: 0;
    align-items: center;
    background-image: linear-gradient(
        to right,
        hsl(225.83, 63.16%, 44.71%),
        rgba(25, 0, 255, 0.486)
    );
    border-radius: 5px;
    width: 25%;
    height: 2rem;
    color: white;
}
/* checkout.html */
.checkout {
    margin: 0 auto;
    width: 80%;
    height: 70vh;
}

.checkout-titulo {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.checkout-titulo h2 {
    color: white;
}

.checkout-cliente {
    height: 70vh;
}
.checkout-cliente-datos {
    padding-right: 20%;
    border-right: 1px solid white;
}
.checkout-resumen {
    width: 70%;
}
.resum {
    margin: 0 10%;
    border: 1px solid white;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
}
.checkout-resumen-titulo {
    display: flex;
    justify-content: center;
    background-color: white;
    margin-bottom: 1rem;
}
.checkout-resumen-desglose {
    display: flex;
    flex-direction: column;
}

.checkout-resumen-desglose * {
    color: white;
}
.center {
    justify-content: center;
}
.col-dir {
    flex-direction: column;
}

.checkout-resumen-formasPago {
    width: 60%;
    margin: 0 10%;
}
.checkout-resumen-formasPago input {
    margin-bottom: 1rem;
    margin-right: 0.5rem;
}
.checkout-resumen-formasPago label {
    color: white;
}
.checkout-resumen-accion {
    width: 30%;
    height: 5vh;
}
.checkout-resumen-accion button {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
        to right,
        hsl(225.83, 63.16%, 44.71%),
        rgba(25, 0, 255, 0.486)
    );
    border-radius: 10%;
    border: 1px solid white;
    color: white;
}

/* carrito.html */

.carrito {
    margin: 0 auto;
    width: 80%;
    height: 70vh;
}
.carrito-titulo {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}
.carrito-titulo h2 {
    color: white;
}
.producto-header {
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid white;
}
.producto-header p {
    color: white;
    font-size: 1.2rem;
}
.carrito-productos {
    margin: 0 3%;
    height: 40vh;
    overflow: auto;
    margin-bottom: 2rem;
}
.carrito-productos p {
    color: white;
}
.carrito-producto {
    margin-bottom: 2rem;
}
.carrito-producto-imagen {
    display: flex;
    align-items: center;
    width: 50px;
    height: 50px;
}

.carrito-producto-detalle {
    height: 1.2rem;
    min-height: 1.2rem;
}
.carrito-producto-detalle p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
}

.carrito-producto-precio {
    width: 50%;
}
.carrito-producto-dias {
    width: 50%;
}
.carrito-producto-resumen {
    display: flex;
    align-items: end;
    flex-direction: column;
}
.checkout-product-resumen {
    width: 30%;
}
.carrito-producto-accion {
    display: flex;
    justify-content: space-between;
    margin: 0% 10%;
}
.carrito-producto-accion button {
    width: 30%;
    min-width: 7rem;
    height: 5vh;
    background-image: linear-gradient(
        to right,
        hsl(225.83, 63.16%, 44.71%),
        rgba(25, 0, 255, 0.486)
    );
    color: white;
    border-radius: 15px;
}
