<div class="tabs">
    <nav>
        <ul>
            <li class="tab active" data-tabid="1">
                <p>Pestaña 1</p>
            </li>
            <li class="tab" data-tabid="datos">
                <p>Datos</p>
            </li>
            <li class="tab" data-tabid="3">
                <p>Pestaña 3</p>
            </li>
            <li class="tab" data-tabid="4">
                <p>Pestaña 4</p>
            </li>
        </ul>
    </nav>

    <div id="1" class="active">
        <h2>Pestaña1</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius
            exercitationem, totam ratione facilis, quas odio architecto dicta
            recusandae hic nam expedita aut rerum laborum, maiores est
            assumenda. Laudantium, eius quae. Obcaecati ratione sunt, sapiente
            modi aspernatur voluptatem harum dolore perferendis iusto sed vitae
            dolorum ea consequatur ipsam delectus aliquid neque maiores quas!
            Aliquid dolore corporis, voluptate nulla nemo voluptatibus rem.
            Commodi accusamus culpa vitae ullam iusto neque, ea repellat
            perferendis temporibus assumenda minus corrupti quam exercitationem
            porro pariatur amet fugiat nemo illo. Cupiditate deserunt debitis
            voluptatibus sit soluta consequuntur illo?
        </p>
    </div>
    <div id="datos">
        <h2>Datos</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Est,
            tempora odit! Perspiciatis aspernatur, quam labore omnis nisi alias?
            Recusandae sapiente eaque possimus dolore reprehenderit asperiores
            beatae dolorum earum suscipit quod? Fugit cumque distinctio vero,
            tempore consequuntur sequi nostrum at quos ratione. Atque ullam
            quaerat esse numquam ad alias reiciendis officia ipsum, odio hic
            quae maiores modi, tenetur libero vel aperiam. Nulla recusandae ex
            odit modi. Praesentium aliquid doloremque, incidunt ipsam libero
            asperiores, optio delectus eius dolores autem laborum minima
            voluptates at nobis suscipit repellendus consequatur modi, natus
            fuga ducimus sunt? Nemo commodi harum sit necessitatibus, quos
            recusandae aliquam excepturi corrupti dolore nobis quod esse
            veritatis vitae error delectus animi neque nihil dolor numquam illo
            magni quae. Ad sequi a adipisci!
        </p>
    </div>
    <div id="3">
        <h2>tab 3</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt
            iste maxime adipisci velit magni iusto, in quae eum a similique
            voluptates accusantium ut, explicabo quam ducimus dignissimos
            quaerat voluptate aut! Cumque itaque mollitia aliquam eum dolore
            autem impedit in repellat consequatur deleniti sunt hic quas unde ea
            ipsum vitae molestias adipisci assumenda ducimus officia, voluptas
            incidunt? Itaque possimus perferendis ipsa?
        </p>
    </div>
    <div id="4">
        <h2>Galeria</h2>
        <img src="https://picsum.photos/200/200" alt="" />
        <img src="https://picsum.photos/200/200" alt="" />
        <img src="https://picsum.photos/200/200" alt="" />
    </div>
</div>
