.banner-Text {
    margin: 0% 10%;
}
.banner-Text-texto p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}
.banner-Text-imagen {
    clip-path: ellipse();
    position: relative;
    z-index: -1000;
}
