.notification {
    position: fixed;
    top: 50vh;
    right: -100vw;
    width: 30%;
    height: 15vh;
    border: 3px solid;
    border-top: 2rem solid;
    border-radius: 5px;
    display: flex;
    align-items: center;
    background-color: white;
    border-color: white;
    opacity: 0;
    transition: all 2s;
    & > i {
        width: 3rem;
        margin: 0 1rem;
        opacity: 0;
    }
    & > p {
        color: white;
        font-weight: bold;
        opacity: 0;
    }

    & > .closeNotification {
        position: absolute;
        top: -23px;
        right: 6px;
        color: black;
    }

    &.success {
        border-color: green;
        right: 15vw;
        opacity: 1;
        & > i {
            filter: hue-rotate(90deg); //verde
            opacity: 1;
        }
        & > p {
            color: black;
            opacity: 1;
        }
    }
    &.error {
        background-color: white;
        border-color: red;
        right: 15vw;
        opacity: 1;
        & > i {
            filter: hue-rotate(1deg); // rojo
            opacity: 1;
        }
        & > p {
            color: black;
            opacity: 1;
        }
    }
}
