.tabs {
    padding-top: 2vh;
}
.tabs nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 50%;
}
.tab {
    border: 2px solid black;
    background-color: white;
    border-color: black;
    border-width: 1px;
    border-bottom: 2px solid;
    border-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    line-height: 2rem;
    width: 33%;
    display: flex;
    justify-content: center;
    margin-right: 2px;
}
.tab:hover {
    cursor: pointer;
}
.tab p {
    padding-right: 5%;
    color: black;
    opacity: 0.5;
}
.tab p:hover {
    opacity: 1;
    color: black;
    cursor: pointer;
}
.tab.active {
    border-width: 3px;
    border-bottom: none;
}
.tab.active > p {
    opacity: 1;
}
.tabs div {
    margin-top: -1px;
    display: none;
    width: 90%;
    border-top: 1px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-top-left-radius: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    overflow-y: auto;
    height: 30vh;
    padding: 1vh 3%;
    z-index: -100;
}
.tabs div.active {
    z-index: 100;
    display: block;
}
