.breadcrubs {
    background: linear-gradient(
        to right,
        rgba(9, 9, 121, 1) 0%,
        rgba(0, 212, 255, 1) 50%,
        rgba(9, 9, 121, 1) 100%
    );
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    p {
        color: white;
        margin-left: 2%;
        font-size: 3rem;
    }
}

.col-aside {
    nav {
        display: flex;
        flex-direction: column;
        width: 20vh;
        height: 100vh;
        z-index: 2000;
        position: absolute;
        top: 10vh;
        left: 0px;
        background-color: black;
        color: white;
        transition: all 2s;
        &:hover {
            width: 0vh;
            background-color: aqua;
        }
    }
}

.fichas {
    width: 90%;
    padding-top: 5%;
    > li {
        border-top: 2px solid black;
        border-bottom: 1px solid black;
    }
    .ficha {
        height: 10vh;
        padding: 2% 5%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        ul {
            overflow: auto;
        }
    }
    .crud {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        button {
            position: relative;
            width: 25%;
            margin: 5px;
            padding: 5px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            border-radius: 5px;
            box-shadow: 2px 1px black;
            cursor: pointer;
            &:hover {
                top: -1px;
                left: -2px;
                box-shadow: 2px 2px black;
            }
        }
    }
}

.delete-icon {
    display: inline-block;
    width: 1rem;
    background: url(/dashboard/assets/svg/delete.svg) 0 0 / contain no-repeat;
}

.delete-icon::before {
    content: '';
    display: block;
    padding-top: 100%;
}

.edit-icon {
    display: inline-block;
    width: 1rem;
    background: url(/dashboard/assets/svg/edit.svg) 0 0 / contain no-repeat;
}

.edit-icon::before {
    content: '';
    display: block;
    padding-top: 100%;
}
